@import url('https://fonts.cdnfonts.com/css/inspector-general');

.FormContainer{
    background-image: url("../../img/fondoDetail.jpg");
    background-repeat: repeat;
    background-attachment:fixed;
    background-size:cover;
    height: 180vh;
}

.form_create{
    display:inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    width: 50vh;
    border-radius: 20px;
    border-width: 3px;
    border-style:solid;
    border-color: #fffffffc;
    padding: 10px;
    color: white;
    font-size: 20px;

}
.form_types{
    display: grid;
    grid-template-columns: auto auto auto;
}
.checkbox{
    cursor: pointer;
}
.title{
    padding: 10px;
    background-color: rgba(155, 27, 241, 0.475);
    font-family: 'Inspector General 3D Italic', sans-serif;
    font-size: 50px;
    color: white;
}
.h_types{
    background-color: rgba(155, 27, 241, 0.475);

}
.danger{
    color: red;
}
#name_l{
    font-size: 20px;
    border-radius: 5px;
}
.selectMain{
    justify-content: center;


}
.selectTypes{
    padding: 5px;
    background-color: rgba(166, 47, 245, 0.888);
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: rgba(234, 234, 234, 0.802) solid 2px;
    cursor: pointer;
}
.panel_types{
    justify-content: center;
    display: inline-block;
}
.box_type{
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.677) solid 1px;
}
.btn_delete{
    float: right;
    background-color: red;
    color: white;
    cursor: pointer;
}

.btn-create{
    margin-top: 30px;
    background-color: #227539;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.btn-create:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn-create:disabled {
    opacity: 0.6;
    cursor: not-allowed;
} 

    

