@import url('https://fonts.cdnfonts.com/css/inspector-general');

.CardStats{
    /* background-color: rgba(69, 62, 62, 0.619); */
    background-image: url("../../img/card.png");
    background-position: center;
    display: inline-table;
    border-radius: 30px;
    padding-bottom: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #870ef0;
    box-shadow: 4px 8px 10px #ffffffc8;
}
.titleCard{
    font-family: 'Inspector General 3D', sans-serif;
    color: #000000;
    

}
.imgCard{
    margin-bottom: 55px;
    background-color: rgba(0, 0, 0, 0.401);
    
}
.attack{
    background-color: rgba(238, 89, 78, 0.898);
    padding: 5px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    border-radius: 5px;
}
.types{
    background-color: #a156e2c1;
    padding: 5px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #fefefe;
    border-radius: 5px;

}
/* .CardStats:hover {
    background-color: #0df3dc;
    border-color: aqua solid 10px;
} */

        