@import url('https://fonts.cdnfonts.com/css/inspector-general');

.CardStats{
    background-color: rgba(26, 25, 25, 0.225);
    display: inline-table;
    border-radius: 30px;
    padding-bottom: 10px;
}
.title{
    font-family: 'Inspector General 3D', sans-serif;
    color: #050505;

}
.date{
    font-family: 'Courier New', Courier, monospace;
    color: #050505;


}
.CardStats:hover {
    background-color: rgba(0, 255, 255, 0.342);

}
        