@import url('https://fonts.cdnfonts.com/css/inspector-general');

.CardStats{
    background-color: rgba(69, 62, 62, 0.619);
    background-image: url("../../img/card.png");
    background-position: center;
    display: inline-table;
    border-radius: 30px;
    padding-bottom: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #f7f7f6;
}
.titleCard{
    font-family: 'Inspector General 3D', sans-serif;
    color: #ffffff;

}
.imgCard{
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.401);
}
.date{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;


}
.CardStats:hover {
    /* background-color: #aba6e2; */
    border-color: aqua solid 10px;
}

        