.paginas{
    display: inline-block;
}
.PaginadoContainer button.active{
    background-color: blueviolet;
}
.PaginadoContainer button:hover{
    background-color: blueviolet;

}
.PaginadoContainer button {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.81);
    color: aliceblue;
    box-shadow: 3px 3px 10px #8944ae;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}