.HomeContainer{
    background-image: url("../../img/fondoHome.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    height: 200vh;

}
.Cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;

}
.divCard{
    padding-top: 20px;
    padding-bottom: 20px;
}
.FilterPokemon{
    padding: 5px;
    font-size: 20px;
    background-color: rgba(22, 248, 248, 0.593);
    border-radius: 10px;
}
.OrderPokemon{
    padding: 5px;
    font-size: 20px;
    background-color: rgba(233, 59, 181, 0.713);
    border-radius: 10px;

}
.FilterAndOrder{
    padding: 20px;
}