@import url('https://fonts.cdnfonts.com/css/tara');

.LandingContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.319), rgba(0, 0, 0, 0.244)) ,url("../../img/fondogif.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.Welcome {
   
    /* background-image: url("../../img/portadapokemon.png"); */
    margin-top: 10px;
    background-color: #f4ecfa96;
    display: block;
    border: rgba(87, 83, 83, 0.456) 3px solid;
    border-radius: 10px;
    padding-top: 30px;
}

.Welcome h2{
    margin: 0;
    font-family: 'tara', sans-serif;
    color: red;
    text-decoration:none;
}
.Welcome h1 {
    font-family: 'tara', sans-serif;

}
.iniciar{
    text-decoration: none;
}