
.LandingContainer{
    background-image: url("../../img/fondogif.gif");
    /* display:flex; */
    justify-content: center;
    height: 90.8vh;
    width: 100%;
}
.btnPoke {
    background-color: red;
    /* background-image: url("../../img/fondopokemon.png"); */
    color: rgb(255, 255, 255);
    width: 60px;
    height: 36px;
    border-radius: 10px;
    cursor: pointer;
}
.Welcome {
    padding: 30px;
}