
.LandingContainer{
    background-image: url("../../img/fondogif.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    justify-content: center;
}
.btnPoke {
    background-color: red;
    /* background-image: url("../../img/fondopokemon.png"); */
    color: rgb(255, 255, 255);
    width: 60px;
    height: 36px;
    border-radius: 10px;
    cursor: pointer;
}
.Welcome {
   
    /* background-image: url("../../img/portadapokemon.png"); */
    margin-top: 120px;
    background-color: #ecf3fa96;
    display: block;
    border: rgba(87, 83, 83, 0.456) 3px solid;
    border-radius: 10px;
    padding-top: 30px;
}

