@import url('https://fonts.cdnfonts.com/css/yantramanav');
.navContent {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f2b47de;

    /* background-position: center; */
    
}

.n{
    display: inline-block;
    padding: 40px;
    padding-right: 150px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Yantramanav', sans-serif;
}
.imgNav{
    float: left;
}

/* Change the link color to #111 (black) on hover */
.n:hover {
    background-color: #2667af;
}
.Search{
    padding: 10px;
}