.searchContainer{
    height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
.form{
    padding: 10px;
    overflow: hidden;
	position: relative;
}
.input{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 30px;
    padding: 0 46px 0 10px;
	border-color: #888;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
	border-width: 5px;
    margin-top: 15px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
	font-size: 26px;

}
	
.searchBtn{
    height: 35px;
    border-style: solid;
    background-color: rgba(160, 60, 254, 0.715);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
}